/* About Us ======================= */

.about
  h3
    font-weight: 300
.about-cont
  margin-top: 20px
  justify-content: space-between
.about-person
  flex-basis: 25%
  padding: 10px
  &:not(:last-child)
    border-right: 1px solid lightgray
  p
    margin-bottom: 0
    font-size: 13px
