/* App ======================= */

.row
  display: flex
  flex-flow: row

.col
  display: flex
  flex-flow: column

.main
  box-shadow: 0 2px 2px 1px rgba(black, 0.4)
  padding: 10px 20px 20px
  width: 70%
  margin: 50px auto
  border: 3px solid black
  border-radius: 4px
  transition: all 0.2s ease

.buttons
  justify-content: center

button
  border: none
  height: 40px
  width: 140px
  background: #fff
  font-size: 16px
  margin: 0 10px 10px
  cursor: pointer
  &:hover
    color: green !important
  &:focus
    outline: none
