/* Media ======================= */

@media screen and (max-width: 1040px)
  .main
    width: 80%

  .about-cont
    flex-wrap: wrap

  .about-person
    flex-basis: 50%
    .image
      max-height: 240px

@media screen and (max-width: 992px)
  .main
    width: 90%


@media screen and (max-width: 768px)
  .main
    margin: 0
    width: 100%

  .about-cont
    display: block

  .about-person
    .image
      max-height: none
