/* Menu ======================= */

.menu
  .salad-container
    margin: 4px
    padding: 6px 0 0
    &:not(:last-child)
      border-bottom: 1px solid lightgray
    .salad-image
      flex-basis: 20%
      max-height: 120px
      overflow: hidden
    .salad-text
      margin-left: 10px
      flex-basis: 70%
      h3
        font:
          size: 16px
          weight: 300
        margin: 0
      span
        font-size: 12px
    .salad-price
      flex-basis: 10%
      font-size: 14px
      color: #009688
